<div class="row justify-content-center pt-5">
  <div class="col-md-8">
    <div class="card">
      <header class="card-header">
        Редактирование организатора
      </header>
      <div class="card-body">
        <%= render partial: "form" %>
      </div>
    </div>
  </div>
</div>