<div class="row state-overview mt-5">
  <div class="col-lg-6 col-sm-6">
    <section class="card">
      <div class="symbol terques">
        <i class="fa fa-user"></i>
      </div>
      <div class="value pb-2">
        <h1 class="count"><%= @organizer_number %></h1>
        <p>Число организаторов</p>
      </div>
    </section>
  </div>
  <div class="col-lg-6 col-sm-6">
    <section class="card">
      <div class="symbol blue">
        <i class="fa fa-calendar"></i>
      </div>
      <div class="value ">
        <h1 class=" count4"><%= @event_number %></h1>
        <p>Число событий</p>
      </div>
    </section>
  </div>
</div>