<section class="jumbotron mb-0">
  <div class="container">
    <% if !params.has_key?("search") or params[:search].blank? %>
      <p>Пожалуйста введите поисковый запрос</p>
    <% else %>
      <p>Результаты поискового запроса "<%= params[:search] %>"</p>
    <% end %>
  </div>
</section>
<div class="container mt-5 py-5 ">
  <%= render partial: "list_items" %>
</div>