<% provide(:title, 'Ошибка 403') %>
<div class="p-5 mt-3 text-center text-danger">
  <h1>Ошибка 403</h1>
  <h2>Доступ запрещён</h2>
  <div>Свяжитесь с администратором или вернитесь</div>
  <a class=" btn-outline-danger btn mt-3" href="/">На главную</a>
</div>