<% provide(:title, 'Ошибка 500') %>
<div class="p-5 mt-3 text-center text-danger">
  <h1>Ошибка 500</h1>
  <h2>Кажется, что-то пошло не так!</h2>
  <div>Попробуйте перезагрузить страницу или вернуться</div>
  <a class=" btn-outline-danger btn mt-3" href="/">На главную</a>
</div>