<% provide(:title, 'Ошибка 404') %>
<div class="p-5 mt-3 text-center text-danger">
  <h1>Ошибка 404</h1>
  <h2>Упс!</h2>
  <div>Страница не найдена, попробуйте вернуться</div>
  <a class=" btn-outline-danger btn mt-3" href="/">На главную</a>
</div>